*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
   
}



.custom-header {
    background-color: #1c1f24;
    color: white;
    padding: 15px 30px;
  }
  .custom-header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  .custom-header a:hover {
    text-decoration: underline;
  }
  footer {
    font-size:x-small;
  }